/**
*
* BBDD information
*/

import es.tid.socialcoding.MessageType

activemq {
   brokerUrl = "failover:(tcp://localhost:61616)"
}

root{
    resources_path=".."+ File.separator + "resources"
    log_level= "DEBUG"
}

db {
    hostname="localhost"
    port="8889"
    database="socialcoding"
    // Options syntax is Form encoded: name1=value1&name2=value2...
    options="autoReconnect=true"
    url = "jdbc:mysql://$hostname:$port/$database?$options"
    username = "root"
    password = "root"
    driver = "com.mysql.jdbc.Driver"
}

rest{
    port= 8181
    activity { 
        port=8182
    }
    user { 
        port=8183
    }
    backend{
        port=8182
    }
} 

consumer{
    xpath_entry_selector= "//entry"     // Selector of ATOM entry tag
    xpath_item_selector= "//item"       // Selector of RSS item tag
    consumer_config_file= root.resources_path + File.separator + "consumer.config"  // Name of configuration file
    producer_config_file= root.resources_path + File.separator + "errorqueue.config"  // Name of configuration file
    parser_file= "stackoverflow.exp"    // Parser description
    url_field_name= 'url'               // Name of the file containing the URL
    wait_time = 10* 1000                // Wait time (ms) in case there is no message in the queue
    table_name= 'Entry'                 // Entry table name
    transform_date_fields= [ 'published', 'updated' ]

    message_type = MessageType.FEED_TASK

    originQueue = "socialcoding.test"
    errorQueue = "socialcoding.error"
}

producer{
    destinationQueue = "socialcoding.test"
}

activity{
    user_duration= 5
    all_duration=  15
}
