//GROOVY PROPERTIES

/** 
* 
* ActiveMQ configuration
*
*/
activemq {
   brokerUrl = "failover:(tcp://localhost:61616)"
   destinationQueue = "socialcoding.test"
}

/** 
* 
* JMS configuration
*
*/

jms.maxRetries = 3
jms.redeliverTimeout = 10000

/** 
* 
* BBDD information
*/
db {
    url = "jdbc:mysql://localhost:8889/socialcoding"
    username = "root"
    password = "root"
    driver = "com.mysql.jdbc.Driver"
}

socialcoding{
    sleep= 1000*2
}
